<div style="width: 100%; clear: both;">
    <div style="float: left; width: 20%;">
       <img   src = "{{ url_for('static', filename = 'metatron-cube.png') }}" alt="icon_meta" align="left" style="width: 20%;">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; padding-top: 22px; text-align:right;"> Construcción de Blockchain con Python</p>
    <p style="margin: 0; text-align:right;">Formación en Blockchain</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Adareloise</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>