<div style="width: 100%; clear: both;">
    <div style="float: left; width: 20%;">
       <img src="https://joanamengualcom.files.wordpress.com/2021/11/blockstellart-2.png?w=100", align="left">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; padding-top: 22px; text-align:right;"> Construcción de Blockchain con Python</p>
    <p style="margin: 0; text-align:right;">Formación en la Tecnología Blockchain</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Adareloise</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>